<div class="h-screen flex flex-col max-w-3xl mx-auto border shadow-lg py-4">
  <div class="text-center font-semibold text-xl mb-4">
    {{ partner }}
  </div>

  <div #messageContainer class="overflow-y-auto flex-grow">
    <div
      *ngFor="let message of messages"
      class="flex mb-2 w-full"
      [ngClass]="{
        'justify-start': message.senderUsername !== username,
        'justify-end': message.senderUsername === username
      }"
    >
      <div
        class="p-2 shadow max-w-sm text-sm"
        [ngClass]="{
          'bg-blue-500 text-white': message.senderUsername === username,
          'bg-gray-200': message.senderUsername !== username,
          'rounded-tl-lg rounded-bl-lg': message.senderUsername === username,
          'rounded-tr-lg rounded-br-lg': message.senderUsername !== username
        }"
      >
        {{ message.text }}
      </div>
    </div>
  </div>

  <div class="mt-auto w-full flex items-center space-x-2 px-1">
    <input
      [(ngModel)]="text"
      (keyup.enter)="sendMessage()"
      type="text"
      class="w-full border rounded-lg px-4 py-2"
      placeholder="Type your message..."
    />
    <button
      (click)="sendMessage()"
      class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
    >
      Send
    </button>
  </div>
</div>
