<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [opened]="true"
    [mode]="'side'"
    [disableClose]="true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a>
      <a mat-list-item routerLink="/chats" routerLinkActive="active">Chats</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *appNotification="showNotification">
      <div
        class="absolute top-0 right-0 mt-5 mr-5 bg-blue-500 text-white p-3 rounded-lg shadow-lg"
      >
        New message: {{ notificationMessage }}
      </div>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
